*{padding: 0;
margin: 0;}
ul{
    list-style: none;
}
.hotel{
    width: 100%;
    height: 740px;
}
.hotel #hotel_center{
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    /* background-color: aqua; */
}
.hotel #hotel_center .hotel_center_nav{
    width: 1198px;
    height: 42px;
    background: #F2C146;
    line-height: 42px;
    border: 1px solid #F2C146;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}
.hotel #hotel_center .hotel_center_nav div{
    color: white;
    font-weight: 700;
    font-size: 20px;
    float: left;
    width: 90px;
    height: 42px;
    margin-left: 15px;
}
.hotel #hotel_center .hotel_center_nav li{
    float: left;
    margin-left:15px; 
    font-size: 16px;
    color: white;
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
}
.hotel #hotel_center .hotel_center_nav li:hover{
    cursor: pointer;
    background-color: #36A293;
    border-radius: 50%;
}

.hotel #hotel_center .hotel_center_body .hotellist{
    width: 1198px;
    border: 1px solid #F2C146;
    height: 670px;
    /* display: flex; */
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    /* background-color: pink; */
    display: none;
}
/* 这样有可能导致第一个区域的元素反复出现 */
.hotel #hotel_center .hotel_center_body .hotellist:first-child{
    display: flex;
}

.hotel #hotel_center .hotel_center_body .hotellist div{
    width: 370px;
    height: 320px;
    /* float: left; */
    /* background-color: aqua; */
}
.hotel #hotel_center .hotel_center_body .hotellist a img{
    height: 208px;
    width: 370px;
    /* display: block; */
}
.hotel #hotel_center .hotel_center_body .hotellist span{
    width: 300px;
    height: 30px;
    overflow: hidden;
    font-size: 20px;
    display: inline-block;
    line-height: 30px;
}
.hotel #hotel_center .hotel_center_body .hotellist p{
    color: #999;
    font-size: 14px;
    padding-bottom: 5px;
}
.hotel #hotel_center .hotel_center_body .hotellist b::before{
    content: "¥";
}
.hotel #hotel_center .hotel_center_body .hotellist b{
    font-size: 22px;
    color:#ff6600
}