*{
    margin: 0;
    padding: 0;
}
input{
    background: none;
    outline: none;
    border: 0px;
}
a{
    text-decoration: none;
}
.header{
    height: 100px;
}
.header .head_center{
    /* background-color: pink; */
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.header .head_center img{
    display: block;
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top:-31px ;
    opacity: 1;

}
.body{
    height: 450px;
}
.body .body-center{
    margin: 0 auto;
    height: 100%;
    width: 1100px;
    /* background-color: pink; */
    position: relative;
}
.body .body-center .body-center-left{
    height: 300px;
    width: 300px;
    /* background-color: aquamarine; */
    position: absolute;
    /* text-align: center; */
    left: 150px;
}
.body .body-center .body-center-left img{
    height: 95%;
    width: 95%;
    position: absolute;
    top:5%;
    left: 5%;
    opacity: 0.7;
}
.body-center-right{
    height: 450px;
    width: 600px;
    /* background-color: antiquewhite; */
    position: absolute;
    left: 500px;
}
.log_area{
    margin: 0 auto;
    width: 300px;
    /* height: 450px; */
    margin: 30px auto;
    padding: 3px;
    position: relative;
}
.log_area .log_head{
    display: flex;
    justify-content: space-between;
}
.log_area .log_head span{
    font-size: 16px;
    color: #666666;
}
.log_area .log_head a{
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}
.log_area .input_place{
    margin-top: 25px;
    width: 297.5px;
    border: 1.25px solid #666666;
    height: 30px;
    line-height: 27px;
    /* padding-left: 10px; */
    background-color: white;
}
.log_area .input_place span{
    display: inline-block;
    width: 40px;
    /* background-color: aqua; */
    font-size: 14px;
    color: #666666;
}
.log_area .input_place input{
    border: 0;
    line-height: 27px;
    font-size: 14px;
    color: #666666;
}
.log_area .forget_pwd a{

    font-size: 12px;
    color:rgb(254,140,0);
    font-weight: bold;
}
.log_area .forget_pwd{
    float: right;
    right:3px;
    margin-top:10px ;
}
.log_area .login button{
    width: 100%;
    background-color: #ffd000;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px  #ffbd00;
}
.log_area .toreg{
    font-size: 14px;
    margin-top: 8px;
}
.log_area .toreg a{
    color:rgb(254,140,0);
}
.log_area .log_agreement{
    margin-top: 10px;
    font-size: 12px;
}

.log_area .partener_log{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #666666;
    position: relative;
}
.log_area .partener_log span{
    position: absolute; 
    top:50%;
    line-height: 20px;
}