*{
    padding: 0;
    margin: 0;
}
.maoyan-box{
    margin: 0 auto;
    margin-top: 10px;
    width: 1200px;
    height: 380px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgb(251,63,93);
    z-index: 2;
}
.maoyan-box .maoyan-box-top{
    width: 100%;
    height: 44px;
    background-color:rgb(251,63,93);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.maoyan-box .maoyan-box-top ul{
    list-style: none;
}
.maoyan-box .maoyan-box-top li{
    font-size: 14px;
    float: left;
    line-height: 44px;
    padding: 0 5px;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.maoyan-box .maoyan-box-top li:nth-child(1){
    font-size: 18px;
    margin-left: 13px;
    margin-right:10px;
    font-family: 微软雅黑;
}
.maoyan-box .maoyan-box-top li div{
    height: 0;
    width: 0;
    border: 7px solid #fff;
    border-top: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    position: absolute;
    bottom: 0;
    left: 24.5px;
    display: none;
}
/* 正在热映下的小三角默认状态是显示的 */
.maoyan-box .maoyan-box-top li:nth-child(2) div{
    display: block;
}

.maoyan-box #maoyan-box-body{
    /* background-color:aquamarine; */
    width: 100%;
    height: 336px;
    position: relative;
    /* 把溢出部分隐藏写在overflow上 */
    overflow: hidden;
}
.maoyan-box #maoyan-box-body #maoyan-left{
    display: none;
    width: 40px;
    height: 40px;
    background-color: #222;
    opacity: 0.8;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    color: #eee;
    position: absolute;
    top: 170px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
}
.maoyan-box #maoyan-box-body #maoyan-right{
    display: none;
    width: 40px;
    height: 40px;
    background-color: #222;
    opacity: 0.8;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    color: #eee;
    position: absolute;
    top: 170px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}
#maoyan-box-body #nowhot{
    position: relative;
    width: 2390px;
}
#maoyan-box-body #nowhot img{
    float: left;
    margin-left: 15px;
    margin-top:20px ;
    z-index: -1;
}
#maoyan-box-body #quick{
    position: relative;
    width: 2390px;
}
#maoyan-box-body #quick img{
    float: left;
    margin-left: 15px;
    margin-top:20px ;
    z-index: -1;
}